
$color-test:orchid;
.container{
    width: 300px;
    height: 400px;
    background-color: orangered;
    &-test1{
        text-align: center;
        color: $color-test;
    }
    &-test2{
        text-align: center;
        color: $color-test;

    }
}